<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> About Joe's Guitars</title>
</head>
<body>

<div class="container">
    <h1>Joe's Guitar Shop</h1>
    <br>
    <h2>About Us</h2>
    <ul>
        <li>Established 1952.</li>
        <li>Your local guitar store.</li>
        <li>Customer centric service.</li>
        <li>Analog and Digital components.</li>
        <li>Fender.</li>
        <li>Gibson.</li>

    </ul>
    <h3>Come to us with all your guitar needs!</h3>

</div>

<footer><a href="http://localhost:8080/"  class="btn btn-primary btn-sm mb-3">Home</a></footer>
</body>
</html>